opencv-contrib-python<4.13
fastplotlib==0.1.0a13
glfw==2.6.2
pygfx==0.1.14
sidecar
easydict
pyyaml
torch
torchvision
projectaria-tools[all]
projectaria-mps
scipy
mediapipe==0.10.14
setuptools==80.10.1
projectaria_client_sdk